.contact-wrapper{
  margin-bottom: 10rem;
  h3{
    margin-top: 4rem;
  }
  .info-link{
    color: $black;
    font-size: 1.2rem;
  }
  .insta-link{
    margin-top: 1rem;
    a svg{
      fill: $black;
      width: 40px;
      height: 40px;
    }
  }
}