.home-section{
  position: relative;
  margin-bottom: 6rem;
  .home-image{
    width: 100%;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  .links-wrapper{
    position: absolute;
    right: 0;
    bottom: -4rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a{
      display: block;
      // width: 40px;
    }
    .links-lists{
      li a{
        color: $black;
        font-size: 3.4rem;
      }
    }
    .insta-icon{
      display: block;
      margin-top: 10px;
    }
  }
}
.nav-bg{
  display: none;
}