$black: #000;
$white: #fff;
$footer-color: #5a4fe0;
$pink-color: #cc97e5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
  font-family: termina, sans-serif;
  font-size: 1.56rem;
  line-height: 1.3;
  color: $black;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.main{
  max-width: 1220px;
  width: 80%;
  margin: 0 auto;
}
h1{
  font-size: 6.25rem;
  line-height: 1;
  font-weight: 300;
}
h2{
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
}
h3{
  font-size: 2.2rem;
  font-weight: 600;
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.56rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
button:hover {
  color: $pink-color;
}
button:focus{
  box-shadow: none;
  background: transparent;
  outline: none;
}
.headings{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height:4px;
    background: $black;
  }
}