//Responsvie for the maps
@media (max-width: 1517px) {
  .map-container {
    .leonie-map{
      height: 780px;
    }
    .rebeca-map{
      height: 700px;
    }
  }
}
@media (max-width: 1464px) {
  .map-container {
    .leonie-map{
      height: 760px;
    }
  }
}
@media (max-width: 1424px) {
  .map-container {
    .leonie-map{
      height: 740px;
    }
    .rebeca-map{
      height: 660px;
    }
  }
}
@media (max-width: 1389px) {
  .map-container {
    .leonie-map{
      height: 720px;
    }
  }
}
@media (max-width: 1354px) {
  .map-container {
    .leonie-map{
      height: 700px;
    }
    .rebeca-map{
      height: 630px;
    }
  }
}
@media (max-width: 1314px) {
  .map-container {
    .leonie-map{
      height: 660px;
    }
  }
}
@media (max-width: 1274px) {
  .map-container {
    .leonie-map{
      height: 650px;
    }
    .soumaya-map {
      height: 480px;
    }
    .rebeca-map{
      height: 580px;
    }
  }
}

//Responsvie for the maps
@media (max-width: 1251px) {
  .map-container {
    .ramaela-map {
      height: 400px;
    }
  }
}
@media (max-width: 1239px) {
  .map-container {
    .leonie-map{
      height: 640px;
    }
  }
}
@media (max-width: 1209px) {
  .map-container {
    .leonie-map{
      height: 620px;
    }
  }
}
//Start Responsive for all the pages
@media (max-width: 1199.98px) {
  article {
    .top-texts {
      width: calc(100% - 27%);
    }
    .bottom-texts {
      width: 100%;
      margin-top: 3rem;
    }
  }
  .map-container {
    .ramaela-map {
      height: 360px;
    }
    .soumaya-map {
      height: 400px;
    }
  }
  //Responsive for Home page
  .home-section .links-wrapper {
    bottom: -6rem;
  }
}
@media (max-width: 1160px) {
  .map-container {
    .leonie-map{
      height: 600px;
    }
    .rebeca-map{
      height: 540px;
    }
  }
}
@media (max-width: 1125px) {
  .map-container {
    .leonie-map{
      height: 580px;
    }
  }
}
@media (max-width: 1090px) {
  .map-container {
    .leonie-map{
      height: 560px;
    }
    .rebeca-map{
      height: 500px;
    }
  }
}
@media (max-width: 1055px) {
  .map-container {
    .leonie-map{
      height: 540px;
    }
  }
}
//Responsvie for the maps
@media (max-width: 1045px) {
  .map-container {
    .rebeca-map {
      height: 500px;
    }
  }
}
@media (max-width: 1011px) {
  .map-container {
    .leonie-map{
      height: 520px;
    }
    .rebeca-map{
      height: 470px;
    }
  }
}
//Responsive for Medium Screen Sizes
@media (max-width: 991.98px) {
  .main {
    width: 100%;
    padding: 0 1.4rem;
  }
  //Responsive for Header
  header {
    .top-header {
      height: 100px;
      .logo-container {
        width: 150px;
      }
    }
  }
  //Responsive for Footer
  footer {
    padding-top: 1.4rem;
    .insta-logo {
      width: 100%;
      padding: 0 1.4rem;
      .insta {
        .icon-wrapper {
          width: 50px;
        }
      }
    }
    .copyrights {
      margin-top: 1.4rem;
    }
  }
  //Responsive for Pages
  article {
    .img-container {
      position: relative;
      left: 0;
      top: 1.4rem;
      width: 100%;
      img {
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
      }
    }
    .top-texts {
      width: 100%;
      margin-left: 0;
    }
  }
  .map-container {
    margin-bottom: 6rem;
    .adina-map {
      height: 380px;
    }
    .ramaela-map {
      height: 334px;
    }
    .leonie-map{
      height: 620px;
    }
    .rebeca-map{
      height: 560px;
    }
  }
  //Responsive for Home page
  .home-section {
    .links-wrapper {
      .instalink_container a svg{
        width: 40px;
        height: 40px;
      }
      .links-lists {
        li a {
          font-size: 2.8rem;
        }
      }
    }
  }
}
//Responsvie for the maps
@media (max-width: 976px) {
  .map-container {
    .leonie-map{
      height: 600px;
    }
  }
}
@media (max-width: 942px) {
  .map-container {
    .leonie-map{
      height: 580px;
    }
    .rebeca-map{
      height: 500px;
    }
  }
}
@media (max-width: 915px) {
  .map-container {
    .leonie-map{
      height: 560px;
    }
  }
}
@media (max-width: 884px) {
  .map-container {
    .leonie-map{
      height: 540px;
    }
  }
}
@media (max-width: 858px) {
  .map-container {
    .leonie-map{
      height: 520px;
    }
  }
}
@media (max-width: 846px) {
  .map-container {
    .rebeca-map {
      height: 440px;
    }
    .soumaya-map {
      height: 360px;
    }
  }
}
@media (max-width: 827px) {
  .map-container {
    .leonie-map{
      height: 500px;
    }
  }
}
@media (max-width: 796px) {
  .map-container {
    .leonie-map{
      height: 480px;
    }
  }
}
//Responsive for small Devices
@media (max-width: 767.98px) {
  body {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  .main {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .headings {
    &::after {
      height: 3px;
      bottom: 2px;
    }
  }
  //Responsive for Header
  header {
    padding: 0.5rem 1rem;
    .top-header {
      height: 50px;
      .toggle-container #menu-toggle {
        width: 50px;
        height: 14px;
      }
      .logo-container {
        width: 80px;
      }
    }
    .menu {
      top: 0.8rem;
      width: 380px;
      .links-container {
        padding-top: 4rem;
        padding-left: 2rem;
        #close-menu {
          top: 0.2rem;
          right: 1rem;
          font-size: 4rem;
        }
        li {
          .menu-llink {
            font-size: 1.4rem;
          }
          .white-links {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  //Responsive for Pages
  article {
    .bottom-texts {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    .under-line {
      margin-bottom: 3rem;
    }
  }
  .map-container {
    margin-bottom: 4rem;
    .audio {
      margin-top: 2rem;
    }
    .map {
      height: 340px;
    }
    .adina-map {
      height: 290px;
    }
    .leonie-map {
      height: 480px;
    }
    .ramaela-map {
      height: 270px;
    }
    .rebeca-map {
      height: 430px;
    }
    .soumaya-map {
      height: 300px;
    }
  }
  //Responsive for Footer
  footer {
    .insta-logo {
      width: 100%;
      padding: 0 1rem;
      .insta {
        a{
          font-size: 1rem;
        }
        .icon-wrapper {
          svg{
            width: 30px;
            height: 30px;
          }
        }
      }
      .logo{
        img{
          max-width: 42%;
        }
      }
    }
    .copyrights {
      margin-top: 1rem;
      font-size: 0.8rem;
    }
  }
  //Responsive for Contact Page
  .contact-wrapper {
    margin-bottom: 10rem;
    h3 {
      margin-top: 1.8rem;
    }
    .info-link {
      font-size: 1.1rem;
    }
    .insta-link {
      a svg{
        width: 30px;
        height: 30px;
      }
    }
  }
  //Responsive for Home page
  .home-section {
    .home-image {
      .display-destop {
        display: none;
      }
    }
    .links-wrapper {
      height: 88vh;
      .instalink_container a svg{
        width: 32px;
        height: 32px;
      }
      .links-lists {
        li a {
          font-size: 2.2rem;
        }
      }
      .insta-icon {
        width: 40px;
      }
    }
  }
}
@media (max-width: 755px) {
  .map-container {
    .leonie-map{
      height: 460px;
    }
  }
}
@media (max-width: 723px) {
  .map-container {
    .leonie-map{
      height: 440px;
    }
    .rebeca-map {
      height: 400px;
    }
  }
}
@media (max-width: 694px) {
  .map-container {
    .leonie-map{
      height: 430px;
    }
  }
}
@media (max-width: 679px) {
  .map-container {
    .leonie-map{
      height: 410px;
    }
    .rebeca-map {
      height: 370px;
    }
  }
}
@media (max-width: 648px) {
  .map-container {
    .leonie-map{
      height: 400px;
    }
  }
}
@media (max-width: 632px) {
  .map-container {
    .leonie-map{
      height: 390px;
    }
  }
}
@media (max-width: 617px) {
  .map-container {
    .leonie-map{
      height: 380px;
    }
    .ramaela-map {
      height: 220px;
    }
    .rebeca-map {
      height: 340px;
    }
    .soumaya-map {
      height: 270px;
    }
  }
}
@media (max-width: 602px) {
  .map-container {
    .leonie-map{
      height: 370px;
    }
  }
}
@media (max-width: 587px) {
  .map-container {
    .leonie-map{
      height: 360px;
    }
  }
}
//Responsive for extra small Devices
@media (max-width: 575.98px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  .headings {
    &::after {
      height: 2px;
      bottom: 2px;
    }
  }
  article {
    .top-texts {
      margin-top: 1rem;
    }
    .bottom-texts {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    .under-line {
      margin-bottom: 3rem;
    }
  }
  .map-container {
    .map {
      height: 280px;
    }
    .adina-map {
      height: 210px;
    }
    .leonie-map {
      height: 350px;
    }
    .ramaela-map {
      height: 200px;
    }
    .rebeca-map {
      height: 320px;
    }
    .soumaya-map {
      height: 220px;
    }
  }
  //Responsive for Header
  header {
    .top-header {
      .toggle-container #menu-toggle {
        width: 40px;
        height: 12px;
      }
    }
    .menu {
      width: 260px;
      .links-container {
        padding-top: 2.4rem;
        padding-left: 1.4rem;
        #close-menu {
          top: 0.2rem;
          right: 1rem;
          font-size: 3rem;
        }
      }
    }
  }
  //Responsive for Footer
  footer {
    .copyrights {
      font-size: 0.7rem;
    }
  }
  //Responsive for Contact Page
  .contact-wrapper {
    h3{
      font-size: 1.5rem;
    }
    .info-link {
      font-size: 1rem;
    }
  }
}
@media (max-width: 557px) {
  .map-container {
    .leonie-map{
      height: 345px;
    }
  }
}
@media (max-width: 548px) {
  .map-container {
    .leonie-map{
      height: 335px;
    }
    .rebeca-map {
      height: 300px;
    }
  }
}
@media (max-width: 535px) {
  .map-container {
    .leonie-map{
      height: 325px;
    }
  }
}
@media (max-width: 520px) {
  .map-container {
    .leonie-map{
      height: 315px;
    }
  }
}
@media (max-width: 504px) {
  .map-container {
    .leonie-map{
      height: 305px;
    }
  }
}
@media (max-width: 489px) {
  .map-container {
    .leonie-map{
      height: 295px;
    }
  }
}
@media (max-width: 475px) {
  .map-container {
    .leonie-map{
      height: 285px;
    }
  }
}
//Responsvie for the maps
@media (max-width: 513.98px) {
  .map-container {
    .rebeca-map {
      height: 270px;
    }
  }
}
@media (max-width: 465.98px) {
  header .menu {
    width: 230px;
  }
  .map-container {
    .map {
      height: 240px;
    }
    .rebeca-map {
      height: 250px;
    }
    .adina-map {
      height: 170px;
    }
    .leonie-map {
      height: 280px;
    }
    .ramaela-map {
      height: 170px;
    }
    .soumaya-map {
      height: 180px;
    }
  }
}
@media (max-width: 450px) {
  .map-container {
    .leonie-map{
      height: 270px;
    }
  }
}
@media (max-width: 435px) {
  .map-container {
    .leonie-map{
      height: 260px;
    }
    .rebeca-map {
      height: 230px;
    }
  }
}
@media (max-width: 422px) {
  .map-container {
    .leonie-map{
      height: 250px;
    }
  }
}
@media (max-width: 407px) {
  .map-container {
    .leonie-map{
      height: 240px;
    }
  }
}
@media (max-width: 400.98px) {
  .map-container {
    .map {
      height: 180px;
    }
    .rebeca-map {
      height: 216px;
    }
    .adina-map {
      height: 150px;
    }
    .leonie-map {
      height: 240px;
    }
    .ramaela-map {
      height: 140px;
    }
    .soumaya-map {
      height: 155px;
    }
  }
}
@media (max-width: 392px) {
  .map-container {
    .leonie-map{
      height: 230px;
    }
    .rebeca-map {
      height: 200px;
    }
  }
}
@media (max-width: 377px) {
  .map-container {
    .leonie-map{
      height: 220px;
    }
  }
}
@media (max-width: 362px) {
  .map-container {
    .leonie-map{
      height: 215px;
    }
  }
}
@media (max-width: 353px) {
  .map-container {
    .leonie-map{
      height: 210px;
    }
    .rebeca-map {
      height: 180px;
    }
  }
}
@media (max-width: 346px) {
  .map-container {
    .leonie-map{
      height: 205px;
    }
  }
}
@media (max-width: 340px) {
  .map-container {
    .leonie-map{
      height: 200px;
    }
    .ramaela-map {
      height: 120px;
    }
  }
}
@media (max-width: 331px) {
  .map-container {
    .leonie-map{
      height: 195px;
    }
    .soumaya-map {
      height: 130px;
    }
  }
}
@media (max-width: 324px) {
  .map-container {
    .leonie-map{
      height: 190px;
    }
    .rebeca-map {
      height: 170px;
    }
  }
}