.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 77;
}
.active-overlay {
  display: block;
}
header {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 1rem 1.4rem;
  .top-header {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      width: 226px;
      height: auto;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .toggle-container button {
      position: relative;
      width: 80px;
      height: 18px;
      margin-bottom: 1rem;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 18px;
        background-color: $black;
      }
    }
  }
  .menu {
    position: fixed;
    top: 1.8rem;
    right: 0;
    width: 440px;
    height: auto;
    transform: translate(100%);
    -webkit-transform: translateZ(100%);
    display: flex;
    justify-content: flex-end;
    transition: all 0.7s ease;
    z-index: 99;
    .links-container {
      padding: 5rem 1rem 3rem 3rem;
      background-color: $pink-color;
      width: 100%;
      height: 100%;
      #close-menu {
        position: fixed;
        top: 0.5rem;
        right: 1.4rem;
        font-size: 5rem;
        font-weight: 600;
        color: $black;
        line-height: 1;
        transition: all 0.4s ease;
        &:hover {
          color: $white;
        }
      }
      li {
        margin-top: 0.4rem;
        .menu-llink {
          font-size: 2rem;
          color: $black;
          transition: all 0.4s ease;
          &:hover {
            color: $white;
          }
        }
        .active {
          color: $white;
        }
        .white-links {
          font-size: 2rem;
          color: $white;
          transition: all 0.4s ease;
          &:hover {
            color: $black;
          }
        }
        .active-white {
          color: $black;
        }
      }
      .aboutus-links {
        margin-top: 2rem;
      }
    }
  }
  .active-menu {
    transform: translate(0%);
    -webkit-transform: translateZ(0%);
  }
}
